.tab {
  overflow: hidden;
  border: 1px solid #ccc;

  border: none;
  margin: 10px 0px 0px 0px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #ddd;
  color: black;
  width: 30%;
  height: 40px;
  /* margin: 0px 10px 0px 0px; */
  border: none;
  cursor: pointer;
  /* padding: 14px 16px; */
  transition: 0.3s;
  font-weight: bold;
  /* font-size: 17px; */
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: lightgreen;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #04aa6d;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none; */
  height: 68%;
}